.show-windows {
    position: fixed;
    top: 29%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 65%;
    }

.window-image {
    width: 70px; /* Set the width to 200 pixels */
    height: auto; /* Automatically adjust the height based on the aspect ratio */
}

.window-btn{
    margin-right: 10px;
}

.red {
    background-color: red;
   
  }
  
  .green {
    background-color: green;
   
  }
  