.show-doors {
    position: fixed;
    top: 30%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 20%;
  }
  

.door-image {
  width: 50px; /* Set the width to 200 pixels */
  height: auto; /* Automatically adjust the height based on the aspect ratio */
}

.lock-btn {
    margin-right: 10px; /* Add 10 pixels of margin to the right of the lock button */
}
  
