@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@1,300&display=swap');

.show-doors {
    position: fixed;
    top: 30%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 20%;
    z-index: 9999;
  }
  

.door-image {
  width: 60px; 
  height: auto; 
}

.lock-btn {
    margin-right: 10px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
   
}

.open-btn{
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

  
