
<div class="image-container">
    <div class="row">
        <div class="column">
            <img src="assets/display.png">
            <p>Turn on and off display</p>
        </div>
        <div class="column">
            <img src="assets/door-17.png">
            <p>Open and close door</p>
        </div>
        <div class="column">
            <img src="assets/fan.png">
            <p>Turn on and off fan</p>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="assets/lightbulb.png">
            <p>Turn on and off lights</p>
        </div>
        <div class="column">
            <img src="assets/speaker.png">
            <p>Raise and lower volume</p>
        </div>
        <div class="column">
            <img src="assets/window.png">
            <p>Open and close windows</p>
        </div>
    </div>
</div>
  
  
