




.toggle-image {
  width: 60px; 
  height: auto; 
}

.red {
  background-color: #AECCE4;
  color: white;
}

.green {
  background-color: #9ABDDC;
  color: white;
}


.btn{
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
}


  