




.toggle-image {
  width: 60px; 
  height: auto; 
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.btn{
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


  