.show-screens {
    position: fixed;
    top: 30%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 50%;
}

.display-image {
    width: 80px; /* Set the width to 200 pixels */
    height: auto; /* Automatically adjust the height based on the aspect ratio */
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    margin-bottom: 5px;
}

.input{
    width: 100px;
    margin-right: 5px;
}

button {
    margin-top: 5px;
}



