
/*
.show-screens {
    position: fixed;
    top: 30%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 50%;
}*/

.display-image {
    width: 80px; 
    height: auto;
}

.btn, .sub-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;

}

.sub-btn{
    background-color: #9ABDDC;
    border-radius: 10px;
    padding: 10px 20px;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-container {
    margin-bottom: 5px;
    margin-top: 4px;
}

.input{
    width: 100px;
    margin: 5px;
}

.red {
    background-color: #AECCE4;
    color: white;
  }
  
  .green {
    background-color: #9ABDDC;
    color: white;
  }
  







