<div class="devices-container">
  <div *ngFor="let device of devices | async" [ngClass]="device.type === toggleType ? 'toggle-wrapper' : ''" [ngSwitch]="device.type">
    <app-door *ngSwitchCase="openLockType" [device]="device" class="door"></app-door>
    <app-fan *ngSwitchCase="fanType" [device]="device" class="fan"></app-fan>
    <app-window *ngSwitchCase="openLockType" [device]="device" class="window"></app-window>
    <app-screen *ngSwitchCase="screenType" [device]="device" class="screen"></app-screen>
  </div>
</div>

<div class="devices-container2">
  <div *ngFor="let device of devices | async" [ngClass]="device.type === toggleType ? 'toggle-wrapper' : ''" [ngSwitch]="device.type">
    <app-buzzer *ngSwitchCase="buzzerType" [device] ="device" class="buzzer"></app-buzzer>
    <app-toggle *ngSwitchCase="toggleType" [device]="device" class="toggle"></app-toggle>
  </div>
</div>

