
.devices-container{
    display: flex;
    padding-top: 15%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.devices-container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.devices-container > *:not(:last-child) {
  margin-right: 2%;
}

.devices-container2 > *:not(:last-child) {
  margin-right: 1%;
}







