<router-outlet></router-outlet>
<mat-toolbar color="primary"  class="mat-elevation-z">
    <mat-toolbar-row>
        <div class="header-container">
            <a mat-button routerLink="Home" routerLinkActive="active" class="header-link">Home</a>
            <a mat-button routerLink="Devices" routerLinkActive="active" class="header-link">Devices</a>
            <a mat-button routerLink="Groups" routerLinkActive="active" class="header-link">Groups</a>
            <a mat-button routerLink="Routines" routerLinkActive="active" class="header-link">Routines</a>
            <a mat-button routerLink="Aboutus" routerLinkActive="active" class="header-link">About us</a>
        </div>

    </mat-toolbar-row>
  </mat-toolbar>
  
