
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@1,300&display=swap');


.header-link {
    font-family: 'Montserrat', sans-serif;
    color: black !important;
    text-decoration: none;
    padding: 0 60px;
    padding-top: 50px;
    font-size: 40px;
}
  
mat-toolbar {
    background-color: #AECCE4 !important;
    height: 12%;
    padding-left: 10%;
    box-shadow: 5px 20px 30px #C5C5C5;
}
  
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header-container {
      flex-direction: column;
    }
    .header-link {
      padding: 10px 0;
    }
}

.header-link.active {
    font-weight: bold;
}



  
   

  