@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:ital,wght@1,300&display=swap');

.show-fans {
    position: fixed;
    top: 29%;
    left: 0;
    width: 300px;
    text-align: center;
    padding-left: 35%;
    z-index: 9999;
    }

.fan-image {
    width: 50px; 
    height: auto; 
    }

.fan-btn{
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.rev-btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.red {
    background-color: red;

  }
  
  .green {
    background-color: green;
 
  }
  