<mat-toolbar>
    <mat-toolbar-row>
      <div class="header-container">
        <a mat-button routerLink="home" routerLinkActive="active" class="header-link">Home</a>
        <a mat-button routerLink="devices" routerLinkActive="active" class="header-link">Devices</a>
        <a mat-button routerLink="sensors" routerLinkActive="active" class="header-link">Sensors</a>
        <a mat-button routerLink="groups" routerLinkActive="active" class="header-link">Groups</a>
        <a mat-button routerLink="routines" routerLinkActive="active" class="header-link">Routines</a>
        <a mat-button routerLink="aboutus" routerLinkActive="active" class="header-link">About us</a>
        <div class="logout-btn">
          <button (click)="logout()"class="btn" mat-stroked-button>Log out</button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
