<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="login.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form [formGroup]="signupForm">
					<label class="text_signup" for="chk" aria-hidden="true">Sign up</label>
					<small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
					<input formControlName="username" type="text" name="txt" placeholder="Username">
					<small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
					<input formControlName="email" type="email" name="email" placeholder="Email">
					<small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
					<input formControlName="password" type="password" name="password" placeholder="Password">
					<button (click)="onSignup()"[disabled]="signupForm.invalid" type="button">Sign up</button>
				</form>
			</div>
			
			<div class="login">
				<form [formGroup]="loginForm">
					<label class="text_login" for="chk" aria-hidden="true">Login</label>
					<small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
					<input formControlName="email" type="email" name="email" placeholder="Email">
					<small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
					<input formControlName="password" type="password" name="password" placeholder="Password">
					<button (click)="onLogin()"[disabled]="loginForm.invalid" type="button">Login</button>
				</form>
			</div>
	</div>
</body>
</html> 
