<div class="container">
    <img src="assets/Smart-home.png" style="float: left; margin-right: 10px;">
    <h1>Contributors</h1>
    <p>Aki Petteri Sirkiä</p>
    <p>Dominique Ghaffari</p>
    <p>Emil Hansson</p>
    <p>Hampus Andersson</p>
    <p>Kiasar Mian</p>
    <p>Lasse Koordt Rosenkrans Poulsen</p>
    <p>Linnéa Svensson</p>
    <p>Marcus Weman</p>
    <p>Nahom Teclemicael</p>
    <p>Oscar Karlsson</p>
    <p>Ramin Darudi</p>
    <p>Sam Hurenkamp</p>
    <p>Simon Wikström</p>
    <p>Tom Welter</p>
</div>