<div class="outer">
	<div class="container">
		<div class="row">
			<div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
				<div class="panel border bg-white">
					<div class="panel-heading">
						<h3 class="pt-3 font-weight-bold signup-header">Sign up</h3>
					</div>
					<div class="panel-body p-3">
						<form [formGroup]="signupForm">
                            <div class="form-group p-3">
								<div class="input-field" [class.error]="signupForm.controls['name'].dirty && signupForm.hasError('required', 'name')">
									<span class="fa fa-user p-2"></span>
									<input formControlName="name" type="text" name="txt" placeholder="Name">
								</div>
							</div>
							<small *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required', 'name')" class="text-danger">*Name is required</small>
                            <div class="form-group p-3">
								<div class="input-field" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">
									<span class="fa fa-user p-2"></span>
									<input formControlName="email" type="email" name="email" placeholder="Email">
								</div>
							</div>
							<small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
							<div class="form-group p-3">
								<div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
									<span class="fa fa-lock p-2"></span>
									<input formControlName="password" [type]="type" name="password" placeholder="Password">
									<span (click)="hideShowPassword()" class="fa {{eyeIcon}}" toggle-password></span>
								</div>
							</div>
							<small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
							
							<button (click)="onSignup()" [disabled]="signupForm.invalid" type="submit" class="btn btn-primary btn-lock mt-4 w-100">Login</button>
							<div class="text-center pt-4 text-muted">Already have an account? <a routerLink="/login">Login</a></div>
						</form>
						<div class="mx-3 my-2 py-2 bordert">
							<div class="text-center py-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
