.create-event-content {
  font-family: 'Montserrat', sans-serif;
}

.create-event-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 24px;
  text-align: center;
}

.add-trigger-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.add-trigger-form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #777777;
}

.add-trigger-form input,
.add-trigger-form select {
  width: 60%;
  margin-top: 4px;
  padding: 4px 8px;
  font-size: 1rem;
  color: #4a4a4a;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.add-trigger-form input[type="range"] {
  cursor: pointer;
}

.add-trigger-form button {
  background-color: #9ABDDC;
  font-family: 'Montserrat', sans-serif;
  color: black !important;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 12px;
  cursor: pointer;
  border: none;
}

.add-trigger-form button:hover {
  background-color: #7da2c1;
}

.error-message {
  font-size: 0.9rem;
  color: #d9534f;
  margin-top: 4px;
}

.add-trigger-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
