.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


.create-group {
  margin-top: 50px;
  margin-left: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.create-group div:not(:last-child) {
  margin-bottom: 20px;
}

.create-group div {
  margin-bottom: 10px;
}

.create-group button {
  margin-top: 10px;
  border-radius: 15px;
}


.create-group label {
  display: inline-block;
  width: 110px;
  margin-right: 10px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.create-group input {
  width: 200px;
}

.no-bullet {
  list-style-type: none;
}


input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}


.group-item {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}

.delete-group-btn {
  margin-top: 10px;
  border-radius: 10px;
  background-color:#9ABDDC;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.toggle-state-btn {
  margin-top: 10px;
  border-radius: 10px;
  background-color:#9ABDDC;
  margin-right: 20px;
  font-size: 14px;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.edit-group-btn {
  margin-top: 10px;
  border-radius: 10px;
  background-color:#9ABDDC;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 5px 5px;
  border: none;
  outline: none;
  color: white;
  font-weight: 600;
  transition: background-color 0.5s ease;
}

.submit-group-btn {
  margin-top: 10px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color:#9ABDDC;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 5px;
  border: none;
  outline: none;
  color: white;
  transition: background-color 0.5s ease;

  
}

.delete-group-btn:hover {
  background-color:#547b9c;
  
}

.toggle-state-btn:hover {
  background-color:#547b9c;
}

.edit-group-btn:hover {
  background-color:#547b9c;
}


.submit-group-btn:hover {

  background-color:#547b9c;
}


.groups{
  padding-top: 20%;
}

.group-info {
  font-size: 14px;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

.group-name {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: -0.1px;
}

.list-group-item {
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: normal;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

ul.list-group {
  list-style: none;
}

.list-group-item.active {
  background-color:#9ABDDC;
  color: #fff;
}

.list-group-item.active:hover {
  background-color:#9ABDDC;
  color: #fff;
}

.group-container {
  display: flex;
  align-items: center;
}

.group-image-container img {
  max-height: 100px;
}

.group-info-container {
  flex-grow: 1;
}


