<div class="container">
<div class="groups"></div>
<!--<button mat-icon-button class="add-button">
  <mat-icon>add</mat-icon>
  <span class="add-text">Create group</span>
</button>
<button mat-icon-button class="remove-button">
  <mat-icon>remove</mat-icon>
  <span class="remove-text">Delete group</span>
</button> -->
<h2>Groups</h2>
<ul *ngFor="let group of groupsDevices$">
  <li class="group-item">
    <span>{{group.name}} - {{group.description}}</span>
    <ul>
      <li *ngFor="let device of group.devices" class="no-bullet">{{device.data.name}} - {{device.data.type}} - {{device.data.state.on}} - {{device.data.state.locked}} - {{device.data.state.open}} - {{device.data.state.reverse}} - {{device.data.state.tune}} - {{device.data.state.text}}</li>
      <button class="delete-group-btn" (click)="deleteGroup(group.id)">Delete Group</button>
      <button class="toggle-state-btn" (click)="toggleGroupState(group)">Toggle On/Off</button>
      <button class="edit-group-btn" (click)="openEditGroupDialog(group)">Edit Group</button>
    </ul>
  </li>
</ul>

<div class="create-group">
  <h3>Create Group</h3>
  <div>
    <label for="groupName">Group Name:</label>
    <input [(ngModel)]="newGroupName" type="text" id="groupName" name="groupName">
  </div>
  <div>
    <label for="groupDescription">Group Description:</label>
    <input [(ngModel)]="newGroupDescription" type="text" id="groupDescription" name="groupDescription">
  </div>
  <label for="typeSelector">Choose type:</label>
  <select [(ngModel)]="selectedType" name="typeSelector" id="typeSelector" (change)="clearDevices()">
    <option *ngFor="let type of deviceTypes" value="{{type}}">{{type}}</option>
  </select>
  <div class="selectable-device-list">
    <div *ngFor="let device of (typeMappedDevices$ | async)![selectedType]" (click)="addDevice(device.id)" class="device-card">
      <h3>{{device.name}}</h3>
      <p *ngIf="isSelected(device.id)" >Selected</p>
    </div>
  </div>
  <button (click)="submitGroup(newGroupName, newGroupDescription)" type="submit">Send</button>
</div>
